body {
	padding: 0 16px;
	font-family: "wf_SegoeUI","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 300;.sliderContent2
}

ul {
	list-style-type: none;
	margin: 0px;
}

a {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #1570A6;
	font-size: 100%;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: baseline;
}

a:HOVER {
	color: #1570A6;
	text-decoration: underline;
}

input[type=password] {
	width: 100%;
}

.light-gray-background {
	background-color: #EEEEEE;
}

.heading--large {
	font-size: 2em;
	line-height: 1.25;
}

.heading--small {
	font-size: 1.25em;
}

.header {
	width: 1150px;
	max-width: 95%;
	margin: auto;
	max-width: 95%;
}

.dockbar {
	height: 50px;
	position: fixed;
	z-index: 999999;
	width: 100%;
	background: #fff;
}

.dockbar-menu {
	float: right;
}

.dockbar-menu a {
	padding-top: 8px
}

.dockbar-menu .divider{
	width: 100%;
}

.float_left{
	float: left;
}

.float_right{
	float: right;
}

.dockbar-menu .btn-group {
	z-index: 999999;
}

.dockbar-menu .btn {
	height: 40px;
	background: none;
	color: #1570A6
}

.dockbar-menu li a span {
	padding-left: 5px;
	float: left;
}

.gray{
	color: gray;	
}

.dockbar-menu li .btn span.glyphicon {
	margin: 2px;
}

.dockbar-menu li a {
	height: 30px;
	display: block;
}

.dockbar-menu a img {
	margin-top: 4px;
	float: left;
}

.header-searchBox .glyphicon-search {
	color: #1570A6;
}

.dockbar-menu .btn-group.open {
	background: #EEEEEE;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
	box-shadow: inset 0 0x 0px rgba(0, 0, 0, 0) !important;
}

.dockbar-menu  .btn-group.open .dropdown-toggle {
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
	box-shadow: inset 0 0x 0px rgba(0, 0, 0, 0) !important;
}

.dockbar-menu li {
	float: left;
	margin-left: 20px;
	margin-top: 7px;
}

.dockbar-menu li ul {
	display: none;
	position: absolute;
	z-index: 9999;
}

.dockbar-menu li span {
	float: right;
}

.dockbar .shoppingCart {
	background-color: #1570A6;
	color: #FFFFFF;
	float: right;
	font-size: 1.2em;
	height: 20px;
	padding: 8px 20px;
	width: 70px;
}

.dockbar .shoppingCart:HOVER {
	background-color: #002050;
}

.main-header {
	height: 105px;
}

.logoAndBannerAndSearchBox {
	padding: 25px 0 0 0;
	width: 1160px;
}

.header {
	margin-top: 50px;
}

.header-logo {
	float: left;
	width: 200px;
	height: 70px;
	margin-right: 50px;
}

.header-banner {
	float: left;
	width: 440px;
	height: 70px;
	float: left;
}

.header-searchBox {
	float: right;
	width: 350px;
	height: 27px;
	border: solid rgb(200, 200, 200) 1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
	margin-right: -20px;
}

#searchBox {
	font-size: 1.5em;
	height: 25px;
	float: left;
	width: 320px;
	z-index: 100;
	border: none;
	outline: none;
}

.header-searchBox .glyphicon {
	margin-top: 3px;
	cursor: pointer;
}

.header-searchBox  .searchBoxCtr {
	margin-top: 2px;
	outline: none;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navigator {
	height: 40px;
	width: 1160px;
	opacity: 0.9;
}

.category-content {
	width: 100%;
	position: absolute;
	left: 0;
	z-index: 99999;
	border-top: medium solid #EEEEEE;
	background-color: #EEEEEE;
	display: none;
}

.menu-line {
	position: absolute;
	left: 0;
	height: 5px;
	width: 100%;
	background-color: #EEEEEE;
	z-index: 99999;
}

.top-level-navigator {
	width: 100%;
}

.top-level-navigator:AFTER {
	clear: both;
}

.top-level-navigator-list {
	float: left;
}

.top-level-navigator-item {
	margin: 5px 20px 5px 0px;
	display: inline-block;
	font-size: 1.6em;
}

.top-level-navigator-item a span{
	font-size: .6em!important;
	font-weight: normal!important;
}

.top-level-navigator-item a {
	display:block;
	font-size: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	color: black;
}

.top-level-navigator-item a:HOVER {
	color: #1570A6;
}

.specialOffer {
	border-bottom: 0.1em solid #D8D8D8;
	margin: 10px auto auto;
	max-width: 1170px;
	/* min-width: 980px; */
}

.special-item {
	float: left;
	margin-right: 100px;
	text-align: center;
	font-size: 1em;
}

.subCategory {
	margin: 0px auto auto;
	max-width: 1170px;
	/* min-width: 980px; */
}

.subCategory-list {
	padding-left: 0px!important;
	/* float: left;
    margin-left: 2%;
    margin-right: 15%;
    position: relative; */
	
}

.l2Category {
	font-size: 1em;
	font-weight: normal;
	line-height: 1.25em;
}

.l2Category a {
	color: black;
	font-size: 1.2em;
}

.l2Category a:HOVER {
	color: #1570A6;
	text-decoration: none;
}

.l3Category {
	font-size: 1em;
	margin-bottom: .5em;
}

.special-item img {
	width: 133px;
	height: 96px;
}

.body {
	max-width: 95%;
	margin: auto;
}

.bodyContent {
	width: 1170px;
	margin: 50px auto auto;
	padding: 0px;
}

.bx-wrapper .bx-viewport {
	box-shadow: none;
}

.ad-slider {
	width: 1170px;
	margin: auto;
	
}

.ad-slider .bx-viewport{
	border: 0 !important;
	margin-left: 5px;
}


.main-content-slider {
	height: 540px;
}

.sliderContent1 {
	min-width: 980px;
	height: 540px;
	margin: auto;
}

.sliderContent2 {
	min-width: 980px;
	height: 540px;
	margin: auto;
}

.sliderContent3 {
	min-width: 980px;
	height: 540px;
	margin: auto;
}

.productItem {
	padding: 13px;
}

.spotlight {
	padding-top: 20px;
}

.leftNav li {
	line-height: 30px;
	font-size: 1.3em
}

.spotlightheader {
	max-width: 1250px;
	margin: 0 auto 0px
}

.bestSelling {
	padding: 5px;
	width: 100%;
	max-width: 1250px;
	margin: 0 auto 0px
}

.bestSelling img {
	
}

.controller-prev {
	float: left;
	margin-left: 20px;
}

.controller-next {
	float: right;
	margin-right: 20px;
}

.bestSelling {
	margin-bottom: 30px;
}

.bestSelling .productItem {
	
}

.featuredProducts {
	height: 300px;
	margin-bottom: 100px;
	max-width: 1250px;
	margin: 0 auto 0px
}

.featuredProducts .productItem {
	height: 200px;
	padding: 5px;
}

.bxslider li {
	width: auto;
}

.footer {
	height: 300px;
	min-width: 1024px;
}

.rowContent{
	padding: 2px 25px;
}

/**************Start Product************/
.mainContainer {
	margin: 0 auto 20px auto;
	min-width: 1170px;
}

.padding10 {
	padding: 10px;
}

.padding5 {
	padding: 5px;
}


.margin0 {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.whiteBackground {
	background: white;
}

.ProductImageContainer {
	display: block;
	width: 580px;
	height: 580px;
	overflow: hidden;
}

.ProductImageController {
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.ProductImageController a {
	display: block;
	width: 50px;
	height: 50px;
}

.ProductImageRegion a.bx-prev {
	margin-left: -50px;
}

.ProductImageRegion a.bx-next {
	margin-right: -50px;
}

.width50 {
	width: 50px !important;
}

.width70 {
	width: 70px !important;
}

.priceDuplicate {
	margin: 0 15px;
	text-decoration: line-through;
	color: gray;
}

.priceActive {
	margin: 0 15px;
	color: red;
}

.relatedProductLink {
	font-size: 80%;
}
/**************End Product************/

/*************Register Or Login Start*************/
.signUpOrLoginBody {
	padding: 20px;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #FFFFFF;
	border-color: #DDDDDD #DDDDDD rgba(0, 0, 0, 0);
	border-image: none;
	border-style: solid;
	border-width: 1px;
	border-bottom-color: #DDDDDD;
	border-top: none;
	color: #555555;
	cursor: default;
}

.pagination>li>a {
	padding: 4px 8px;
}

.activeprice {
	color: red;
	font-weight: bold;
	margin: 2px;
}

.priceDeprecated {
	color: gray;
	text-decoration: line-through;
}

.sales-logo {
	background: url("/resources/css/img/sales_bg.png") no-repeat scroll 0 0
		transparent;
	height: 65px;
	position: absolute;
	right: -0px;
	top: -0px;
	width: 65px;
}

.sales-logo label {
	font-size: 9px;
	color: white;
	margin: 10px 20px;
}

.sales-logo label.percentage {
	font-size: 22px;
	color: white;
	margin-top: -10px; margin-left : 13px;
	font-weight: bold;
	margin-left: 13px;
}

.categoryTitle {
	margin-left: 2em;
}

.subCategories {
	margin: 3px;
}
.subCategories>a {
	color: #e81123;
}

.productThumbnail {
	height: 355px;
}

.red{
	color: red;
}

.category-product-img {
	height: 235px;
}
/******************************Loading mask ******************************************/

.loadmask {
    z-index: 100;
    position: absolute;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: #CCC;
    width: 100%;
    height: 100%;
    zoom: 1;
}
.loadmask-msg {
	z-index: 20001;
	position: absolute;
}
.loadmask-msg div {
    cursor:wait;
}
.masked {
    overflow: hidden !important;
}
.masked-relative {
    position: relative !important;
}
.masked-hidden {
    visibility: hidden !important;
}
/******************************END mask ******************************************/

/****************************Order display ************************************/
.shopping_cart_container{
	width: 976px;
	margin: auto;
	min-height: 100px;
}
.emptycart{
	height: 250px;
}

.orderSN{
	padding-top:40px;
	color: red;
}

.order-item{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #dddddd;
}
.order-item-img-col{
	
}

.order-item-img-col img{
	width: 120px;
}

.order-item-selection-col{
	
}
.quantity-text{
	width: 50px!important;
	display: inline;
}
.order-item-selection-col .order-item-selection{
	color: red;
}

.order-item-control-col a{
	font-weight: bold;
	
}
.under_score{
	border-bottom: 1px dashed #dddddd;
}
.orderPrice-summary{
	margin: 15px;
	color: #FF0000;
	padding: 2px;
}

.orderPrice-summary-all{
	font-weight: bold;
}
.orderPrice-summary_value{
	float: right;
}

.order_buttons{
	padding: 0px 25px;	
}

.couponErrorArea{
	margin-top: 5px;
	display: none;
}

.couponInfoArea{
	margin-top: 5px;
	display: none;
}

/****************************End Order display ************************************/

/******************Start bootstrap modal component ********************************/
.modal-backdrop{
	z-index: 1000000!important
}

.modal{
	z-index: 10000001!important
}
/******************End bootstrap modal component ********************************/


/******************Overrider reset js table borders for bootstrap ********************************/
.table th, .table td {
	border: none ;
}
/******************End Overrider reset js table borders for bootstrap ********************************/
